XAF.sample.toast.messaging/XAF.sample.toast.messaging.Module.Web/bin/
XAF.sample.toast.messaging/XAF.sample.toast.messaging.Module.Web/obj/
XAF.sample.toast.messaging/XAF.sample.toast.messaging.Module/bin/
XAF.sample.toast.messaging/XAF.sample.toast.messaging.Module/obj/
XAF.sample.toast.messaging/XAF.sample.toast.messaging.Web/bin/
XAF.sample.toast.messaging/XAF.sample.toast.messaging.Web/obj/
